<!doctype html>
<html lang="en">
	<head>
		<link rel="shortcut icon" href="/img/logo-icon.png"/>
		<title>Register - MaxDrive</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
			<a class="navbar-brand mx-auto" href="#"><img src="/img/logo.png"></a>
		</nav>
		
		
		<div class="container">
			<form>
				<h1>Register</h1>
			  <div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input id="email_input" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
				<div class="invalid-feedback">
				  Please choose a username.
				</div>
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div> 
			  <div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" id="password-1" placeholder="Password" required>
			  </div>
			  <div class="form-group">
				<label>Confirm Password</label>
				<input type="password" class="form-control" id="password-2" placeholder="Password" required>
			  </div>
			  <button id="register_btn" type="button" class="btn btn-primary">Register</button>
			</form>
		</div>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/notify.min.js"></script>
		
		<script>

			
			document.getElementById('register_btn').addEventListener('click', function(){
				var password_1 = document.getElementById('password-1').value;
				var password_2 = document.getElementById('password-2').value;
				if(password_1 !== password_2){
					return $.notify("Passwords don't match.", "error");
				}
				
				$.ajax({
					type: "POST",
					url: '/api/users',
					data: {email: document.getElementById('email_input').value, password: password_1},
					success: function(res){
						if(res.error){
							return $.notify(res.error, "error"); 
						}
						//console.log(res);
						$.notify(res.success, "success"); 
						window.location.href = '/resources';
						/*
						$.notify(res.success, "success"); 
						sleep(3);
						if(res.success){
							return 
						}
						*/
					},
					dataType: 'json'
				});
			});
			
		</script>
		
	</body>
</html>