<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base href="/">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="shortcut icon" href="/img/logo-icon.png"/>
	<link rel="stylesheet" type="text/css" href="css/checkbox.css">
    <title>MaxDrive</title>
	<style>
		html, body {
			height: 100%;
		}
		.fill { 
			min-height: 100%;
			height: 100%;
			background-color: #957bbe; 
			border-radius: .25rem;
			background-size: cover;
		}
		.vertical-center {
		  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
		  min-height: 100vh; /* These two lines are counted as one :-)       */
		  display: flex;
		  align-items: center;
		}
		.sidenav {
		  height: 100%;
		  width: 250px;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  background-color: 	#808080;
		  overflow-x: hidden;
		  transition: 0.5s;
		  
		}
		.sidenav a {
		  padding: 6px 8px 6px 16px;
		  text-decoration: none;
		  font-size: 25px;
		  color: #ffffff;
		  display: block;
		  padding: 20px;
		}
		.hamburger div{
		  width: 35px;
		  height: 5px;
		  background-color: black;
		  margin: 6px 0;
		}
		.hidden_nav{
			width: 0px;
			padding: 0px;
		}
		.hidden_main{
			margin-left: 0px;
		}
		#main{
			margin-left: 250px; /* Reset margin */
			transition: 0.5s;
		}
		.progress{
			position:absolute; 
			bottom:0px;
			width: 80%;
			margin: 10%;
		}
		.progress_desc{
			position:absolute; 
			bottom:10px;
			margin: 20%;
		}
		.dot {
		  height: 5px;
		  width: 5px;
		  margin: 2px;
		  background-color: #bbb;
		  border-radius: 50%;
		  display: inline-block;
		}
		.more-btn{
			width: 40px;
			overflow: auto;
		}
		.more-btn:hover > .dot{
			background-color: red;
		}
		
		tr:hover > td > button{
			background-color: red;
			display: block !important;
		}
		
		td{
			padding: 10px !important;
		}
		
		@media only screen and (min-width: 768px) {
		  #open_menu{
			display: none;
		  }
		}
	</style>
	</head>
	<body>
	
	<div id="side_menu" class="sidenav">
		<a href="#about">Files</a>
		<a href="#clients">Shared</a>
		<a href="#contact">Favourites</a>
		<a href="#contact">Deleted</a>
		<h6 class="progress_desc">2MB used of 10MB</h6>
		<div class="progress">
			<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
		</div>
	</div>
	<div id="main">
		<nav class="navbar navbar-expand-md navbar-light bg-light">
		  
		  <button id="open_menu" class="btn btn-outline-success" type="button">Side Menu</button>
		  
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		  
		  
		  
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <a  href="#"><img src="/img/logo.png"></a>
			<ul class="navbar-nav mr-auto"></ul>
			<form class="form-inline my-2 my-lg-0">
				
			  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			  <ul class="navbar-nav mr-auto">
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <%= user.email %>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Change Password</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="/logout" onclick="delete_cookie('jwt');">Log Out</a>
				</div>
			  </li>
			</ul>
			</form>
		  </div>
		</nav>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div id="resource-table"></div>
				</div>
			  </div>
		</div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="/js/notify.min.js"></script>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
	<script>
		
		/* Error Codes:
			-1: Failed to PUT user basic JSON schema.
		*/
		
		var user_id = "<%= user._id %>";
		
		var side_nav_open = true;
		
		const el_factory = (type, attributes, ...children) => {
		  const el = document.createElement(type)

		  for (key in attributes) {
			el.setAttribute(key, attributes[key])
		  }

		  children.forEach(child => {
			if (typeof child === 'string') {
			  el.appendChild(document.createTextNode(child))
			} else {
			  el.appendChild(child)
			}
		  })

		  return el
		}
		
		function delete_cookie( name ) {
		  document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
		}
		
		//var main_breadcrumbs = new breadcrumbs('breadcrumb');
		var resource_table = new datatable("resource-table", ["Name", "Type", "Sharing", "Size"], true, true);
		
		/* Pass in as parameter. */
		var config = {
			headers: [],
			files: true,
			folders: true,
			target: "",
			relocate: true,
			menu: true
		}
		
		
		document.getElementById('open_menu').addEventListener('click', function(){
			console.log(9);
			openNav();
		});
		
		/* The datatable class encapsulates all functions needed to create and manipulate a datatable on the DOM. */
		function datatable(target, headers, a_btn, rlcte){
				
				/* Could add a config object instead of parameters. */
				this.config = {
					"action_btn": true,
					"relocate": true,
					"headers": [],
					"target": null
				}
				
				/* Holds JSON for the render function to use. */
				this._data = null;
				
				this.selected = [];
				
				this.platform = "";

				this.this_breadcrumbs = {};
				
				/* Breadcrumbs class. */
				this.breadcrumbs = function(target, parent){
			
					this.items = [];
					
					this.generate_from_url = function(){
						this.items.length = 0;
						var url_breadcrumbs = window.location.href.split('resources')[1].split('/');
						this.items.push("resources");
						for(var i = 1; i < url_breadcrumbs.length; i++){
							this.items.push(url_breadcrumbs[i]);
							this.update(null);
						}
					}
					
					/* Creates a breadcrumb navigation using the items array. */
					this.update = function(data){
					
						var _this = this;
						/* Empty the breadcrumbs body. */
						var el = document.getElementById(target + '-breadcrumbs');
						while(el.firstChild)
							el.removeChild(el.firstChild);
						/* Add breadcrumb items to the breadcrumbs. */
						for(var i = 0; i < this.items.length; i++){
							/* Build the link. */
							var href = "";
							for(var j = 0; j < i + 1; j++){
								href += "/" + this.items[j];
							}
							var breadcrumb = el_factory('li', {class: 'breadcrumb-item', 'data-index': i}, el_factory('a', {href:href}, this.items[i]));
							/* Attach an event listener if redirection has been disabled. */
							if(!rlcte){
								breadcrumb.addEventListener('click', function(e){
									e.preventDefault();
									if(e.target.nodeName == 'A'){
										_this.items.length = parseInt(e.target.parentNode.dataset.index) + 1;
										_this.update(null);
										if(data != null)
											parent.render(function(){}, false, null, data);
										else
											parent.render(function(){}, false, null, null);
									}
								});
							}
							document.getElementById(target + '-breadcrumbs').appendChild(breadcrumb);
						}
					}
					
					/* Constructor */
					this.init = function(){
						document.getElementById(target).appendChild(el_factory('nav', {}, el_factory('ol', {class: 'breadcrumb', id: target + '-breadcrumbs'})));
						this.items.push("resources");
						this.update(null);
					}
					this.init();
				}
				
				/* Gets the current folder from breadcrumbs and renders or updates using the callback function. */
				this.render = function(callback, update, success_msg, data){
					var _this = this;
					
					/* Reset selected on render. */
					this.selected.length = 0;
					
					var xhttp = new XMLHttpRequest();
					xhttp.onreadystatechange = function() {
						if (this.readyState == 4 && this.status == 200) {
							
							var user = null;
							
							/* If data has been supplied as a parameter, use instead of db data. */
							if(data != null){
								_this._data = data;
								user = data;
							} else {
								/* Parse JSON from response. */
								user = JSON.parse(this.responseText);
							}
							
							console.log(user[0]);
							
							/* Add basic JSON schema on users first load. */
							if(user[0].resources.length == 0){
								user[0].resources.push({"type": "folder", "items": []});
								/* POST */
								var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
								xmlhttp.open("PUT", "/api/users/" + user_id);
								xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
								xmlhttp.onreadystatechange = function() {
									if (this.readyState != 4 || this.status != 200)
										return $.notify("Something bad happened. Error code -1", "error"); 
								}
								xmlhttp.send(JSON.stringify({"user" : user[0]}));
							}
							
							/* Find target folder. */
							var folder = user[0].resources[0];
							var found_flag = false;
							for(var i = 1; i < _this.this_breadcrumbs.items.length; i++){
								found_flag = false;
								/* Has the target folder been reached? */
								for(var j = 0; j < folder.items.length; j++){
									if(folder.items[j].name == _this.this_breadcrumbs.items[i] && folder.items[j].type == 'folder'){
										folder = folder.items[j];
										found_flag = true;
									}
								}
							}
							
							if(_this.this_breadcrumbs.items.length == 1) found_flag = true;
							
							if(!found_flag){
								return window.location.href = '/resources'
							}
							
							/* Just render the table. */
							if (!update){ 
								/* Remove all elements from the table's body. */
								_this.empty();
								for(var i = 0; i < folder.items.length; i++)
									_this.add_row([folder.items[i].name, folder.items[i].type, "private", folder.items[i].size]);
								return 0;
							}
							
							/* Use call by reference to manipulate folder data in callback. */
							var ret = callback({user: user, folder: folder});
							
							/* Update the database with modified data if update is set to true. */
							if(update && ret == 0){
								var xhttp1 = new XMLHttpRequest();
								xhttp1.onreadystatechange = function() {
									if (this.readyState == 4 && this.status == 200) {
										/* Remove all elements from the table's body. */
										_this.empty();
										
										for(var i = 0; i < folder.items.length; i++)
											_this.add_row([folder.items[i].name, folder.items[i].type, "private", folder.items[i].size]);
										
										$.notify(success_msg, "success");
									}
								};
								xhttp1.open("PUT", '/api/users/' + user_id, true);
								xhttp1.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
								xhttp1.send(JSON.stringify({"user":user[0]}));
							}
					   }
					};
					xhttp.open("GET", '/api/users/' + user_id, true);
					xhttp.send(); 
				}
				
				/* Need to check for resource type for action menu. */
				this.add_row = function(columns){
				
					var _this = this;
					/* Validation. */
					if(typeof columns === 'undefined') 
						return console.log("error: missing elements argument");
					var dt_row = document.createElement("tr");
					/* Click event listener. */
					dt_row.addEventListener("click", function (event) {
						if(rlcte && event.target.classList[0] == "clickable"){
							var href = "";
							for(var i = 0; i < _this.this_breadcrumbs.items.length; i++){
									href += '/' + _this.this_breadcrumbs.items[i];
							}
							href += '/' + event.target.parentNode.childNodes[1].innerHTML;
							window.location.href = href;
						} else if(event.target.classList[0] == "clickable" && rlcte == false){
							_this.this_breadcrumbs.items.push(event.target.parentNode.childNodes[1].innerHTML);
							_this.this_breadcrumbs.update(_this._data);
							_this.render(function(){}, false, null, _this._data);
						}
					});
					dt_row.appendChild(this.generate_checkbox(function(event){
						/* Add absolute path to selected array. */
						
							var path = "";
							for(var i = 0; i < _this.this_breadcrumbs.items.length; i++){
									path += '/' + _this.this_breadcrumbs.items[i];
							}
							path += '/' + event.target.parentNode.parentNode.nextSibling.innerHTML;
							
							/* Check for duplicates. */
							var f_flg = false;
							for(var i = 0; i < _this.selected.length; i++){
								if(_this.selected[i] == path){
									f_flg = true;
									/* Remove. */
									_this.selected.splice(i, 1);
								}
							}
							
							if(!f_flg)
								_this.selected.push(path);
								
							console.log(_this.selected);
						//_this.this_breadcrumbs.items
					}));
					/* One column on mobile. */
					if(window.innerWidth < 768 || headers.length == 1){
						columns.length = 1;
					}
					for(var i = 0; i < columns.length; i++)
						dt_row.appendChild(el_factory('td', {class: 'clickable'}, columns[i].toString()));
					/* Add the action button if enabled. */
					if(a_btn){
						dt_row.appendChild(this.generate_action_btn(null, [
							{"star": function(){console.log('clicked star')}},
							{"delete": function(){
								
								var name = this.parentNode.parentNode.parentNode.parentNode.childNodes[1].innerHTML;
								_this.render(function(data){
									/* Remove resource. */
									for(var i = 0; i < data.folder.items.length; i++){
										if(data.folder.items[i].name == name)
											data.folder.items.splice(i, 1);
									}
									return 0;
								}, true, "Folder \"" + name + "\" deleted.", null);

							}},
							{"rename": function(){
							
								var name = this.parentNode.parentNode.parentNode.parentNode.childNodes[1].innerHTML;
								
								generate_text_modal(columns[1], "Enter the new " + columns[1] + " name", name, "Rename", function(args){
									
									_this.render(function(data){
										/* Check for duplicate folder names. */
										for(var i = 0; i < data.folder.items.length; i++){
											if(data.folder.items[i].name == args.INPUT){
												$.notify("Folder \"" + args.INPUT + "\" already exists.", "error");
												return -1;
											}
										}
										/* Rename folder. */
										for(var i = 0; i < data.folder.items.length; i++){
											if(data.folder.items[i].name == args.ORIGINAL)
												data.folder.items[i].name = args.INPUT;
										}
										return 0;
									}, true, "Folder \"" + args.ORIGINAL + "\" renamed to \""+ args.INPUT +"\".", null);
								}, {});
							}},
							{"move": function(){
								generate_move_modal(this.parentNode.parentNode.parentNode.parentNode.childNodes[1].innerHTML);
							}}
						]));
					}
					document.getElementById(this.target + '-body').appendChild(dt_row);
				}
				
				this.action_btn = function(id){
					this.add_item = function(name, callback){
						var item = el_factory('button', {class:'dropdown-item', type:'button', onclick:callback}, name);
						return item;
					}
				}
				
				this.generate_action_btn = function(id, items){
					var attr = (id != null) ? { class:'more-btn', id: id, 'data-toggle':"dropdown" } : { class:'more-btn', 'data-toggle':"dropdown" };
					var btn = el_factory('div', attr,
							el_factory('span', {class: 'dot'}),
							el_factory('span', {class: 'dot'}),
							el_factory('span', {class: 'dot'}))
					var inner_div = el_factory('div', {class: 'dropdown-menu dropdown-menu-right'});
					for(var i = 0; i < items.length; i++){
						for(prop in items[i]){
							var item = el_factory('button', {class:'dropdown-item', type:'button'}, prop);
							item.addEventListener('click', items[i][prop], false);
							inner_div.appendChild(item);
						}
					}
					var th = el_factory('th', {style:'width:10%;'}, el_factory('div', {class:'dropdown'}, btn, inner_div));
					
					return th;
				}
				
				/* Removes all nodes from the table's body. */
				this.empty = function(){
					var myNode = document.getElementById(this.target + '-body');
					while (myNode.firstChild) {
						myNode.removeChild(myNode.firstChild);
					}
				}
				
				this.destroy = function(){
					var element = document.getElementById(this.target);
					while (element.firstChild) {
						element.removeChild(element.firstChild);
					}
				}
				
				this.generate_checkbox = function(click_event){
					var checkbox = el_factory('input', {type: 'checkbox'});
					checkbox.addEventListener('click', click_event);
					return el_factory('td', {style: "width: 10px;"}, el_factory('label', {class: "container"}, checkbox, el_factory('span', {class: "checkmark"})));
				}
				
				/* Constructor */
				this.init = function(target, headers){
					if(target === 'undefined')
						return console.log("error: table target required");
					this.target = target;
					this.num_col = headers.length;
					var dt_row = document.createElement("tr");
					dt_row.appendChild(el_factory('th'));
					/* One column on mobile. */
					if(window.innerWidth < 768){
						headers.length = 1;
					}
					for(var i = 0; i < headers.length; i++)
						dt_row.appendChild(el_factory('th', {}, headers[i]));
					if(a_btn){
						dt_row.appendChild(this.generate_action_btn("action-btn", [
						{"Upload file": function(){
							
							/* Open file dialog. */
							var file = el_factory('input', {type: 'file'});
							file.addEventListener('change', function(){
							/* Upload to AWS. */
								
								AWS.config.region = 'eu-west-2'; // Region
								AWS.config.credentials = new AWS.CognitoIdentityCredentials({
									IdentityPoolId: 'eu-west-2:ece4887c-a2dd-45e8-a766-6e445673b866',
								});

								var s3 = new AWS.S3({
								  apiVersion: '2006-03-01',
								  params: {Bucket: 'maxdrive'}
								});
								
							
								var file = this.files[0];

								if (file) {
									/* Generate GUID for file name. */
									uuid = uuidv4();
									var objKey = user_id + '/' + uuid;
									var params = {
										Key: objKey,
										ContentType: file.type,
										Body: file,
										ACL: 'public-read'
									};
									s3.upload(params, function(err, data) {
										if (err) {
										  return $.notify(err.message, "error");
										}
										
										var size = params.Body.size / 1024 /1024;
										
										/* Build Payload. */
										var payload = {
											"type": 'file',
											"name": params.Body.name,
											"size": size,
											"revisions":[
												{
													"uuid": uuid,
													"name": params.Body.name,
													"extension": params.Body.type,
													"size": size, /* MB */
													"download": "",
													"modified": params.Body.lastModifiedDate,
													"date": Date.now(),
													"preview":"",
													"comments":"First revision."
												}
											]
										};
										
										var xhttp = new XMLHttpRequest();
										xhttp.onreadystatechange = function() {
											if (this.readyState == 4 && this.status == 200) {
												
												var user = JSON.parse(this.responseText);
												
												/* Find target folder. */
												var folder = user[0].resources[0];
												for(var i = 1; i < resource_table.this_breadcrumbs.items.length; i++){
													/* Has the target folder been reached? */
													for(var j = 0; j < folder.items.length; j++){
														if(folder.items[j].name == resource_table.this_breadcrumbs.items[i]){
															folder = folder.items[j];
														}
													}
												}
												
												
												
												console.log(payload);
												
												folder.items.push(payload);
												
												//user[0].resources.length = 0;
												
												var xhttp1 = new XMLHttpRequest();
												xhttp1.onreadystatechange = function() {
													if (this.readyState == 4 && this.status == 200) {
														resource_table.render(function(){}, false, null, null);
														$.notify("File \"" + payload.name + "\" added.", "success");
													}
												};
												xhttp1.open("PUT", '/api/users/' + user_id, true);
												xhttp1.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
												xhttp1.send(JSON.stringify({"user":user[0]}));
												
										   }
										};
										xhttp.open("GET", '/api/users/' + user_id, true);
										xhttp.send(); 
										
									});
								}
							});
							file.click()
							
						}},
						{"New Folder": function(){ generate_text_modal('Folder', 'Enter your folder name', false, 'Create', create_folder, {}); }}
						]));
					}
					var dt = el_factory('table', {class: 'table'}, 
								el_factory('thead', {}, dt_row), el_factory('tbody', {id: this.target + '-body'})
							);
					this.this_breadcrumbs = new this.breadcrumbs(target, this);
					document.getElementById(target).appendChild(dt);
				}
				
				this.init(target, headers);
			}
		
		document.addEventListener("DOMContentLoaded", function(event) {
			if(window.innerWidth < 768) {
				closeNav();
				resource_table.platform = "mobile";
			} else if( window.innerWidth >= 768) {
				openNav();
				resource_table.platform = "desktop";
			}
			resource_table.this_breadcrumbs.generate_from_url();
			resource_table.render(function(){}, false, null, null);
		});
		
		window.addEventListener("resize", function(){
			if(window.innerWidth < 768) {
				closeNav();
				if(resource_table.platform == "desktop"){
					resource_table.destroy();
					resource_table.init("resource-table", ["Name"]);
					resource_table.platform = "mobile"
					resource_table.render(function(){}, false, null, null);
				}
			} else if( window.innerWidth >= 768) {
				openNav();
				if(resource_table.platform == "mobile"){
					resource_table.destroy();
					resource_table.init("resource-table", ["Name", "Type", "Sharing", "Size"]);
					resource_table.platform = "desktop"
					resource_table.render(function(){}, false, null, null);
				}
			}
		});
		
		window.addEventListener("click", function(event){
			if(event.target.id !== 'side_menu' && event.target.id !== 'open_menu'){
				if(window.innerWidth < 768) {
					closeNav();
				}
			}
		});
		
		/* Generates a uuid. */
		function uuidv4() {
		  return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
			(c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
		  )
		}
		
		/* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
		function openNav() {
			side_nav_open=true;
			document.getElementById("side_menu").style.width = "250px";
			/* Don't shift main to right on small screen. */
			if(window.innerWidth >= 768) {
				document.getElementById("main").style.marginLeft = "250px";
			}
		}

		/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
		function closeNav() {
			side_nav_open=false;
			document.getElementById("side_menu").style.width = "0";
			document.getElementById("main").style.marginLeft = "0";
		}
		
		function create_folder(args){

			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					
					var user = JSON.parse(this.responseText);
					
					/* Find target folder. */
					var folder = user[0].resources[0];
					for(var i = 1; i < resource_table.this_breadcrumbs.items.length; i++){
						/* Has the target folder been reached? */
						for(var j = 0; j < folder.items.length; j++){
							if(folder.items[j].name == resource_table.this_breadcrumbs.items[i]){
								folder = folder.items[j];
							}
						}
					}
					
					/* Check for duplicate folder names. */
					for(var i = 0; i < folder.items.length; i++){
						if(folder.items[i].name == args.INPUT){
							return $.notify("Folder \"" + args.INPUT + "\" already exists.", "error");
						}
					}
					
					folder.items.push({"name": args.INPUT, "size": "0MB", "type": "folder", items: []});
					
					//user[0].resources[0].items.length = 0;
					var xhttp1 = new XMLHttpRequest();
					xhttp1.onreadystatechange = function() {
						if (this.readyState == 4 && this.status == 200) {
							resource_table.render(function(){}, false, null, null);
							$.notify("Folder \"" + args.INPUT + "\" added.", "success");
						}
					};
					xhttp1.open("PUT", '/api/users/' + user_id, true);
					xhttp1.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
					xhttp1.send(JSON.stringify({"user":user[0]}));
					
			   }
			};
			xhttp.open("GET", '/api/users/' + user_id, true);
			xhttp.send(); 
		}
		
		
		function generate_text_modal(_TITLE, _PLACEHOLDER, _TEXT, _BUTTON_TEXT, _CALLBACK, _ARGS) {
			
			/* Generate Close Button. */
			var close_btn = el_factory('button', {type: "button", class: "close", "data-dismiss": "modal", "aria-label": "Close"}, el_factory('span', {"aria-hidden": "true"}, "x"));
			
			/* Generate Title. */
			var title = el_factory('label', {for: 'NewDocumentName', class: 'col-form-label', style: 'padding: 10px 0px; color: black; font-weight: normal; font-size: large;'}, _TITLE);

			/* Generate Input. */
			if (!_TEXT)
				_TEXT = "";
			var style = 'border: 1px solid gray !important; color:black !important; border-radius: 0; box-shadow: none !important; outline: none !important;';
			var input = el_factory('input', {type: 'text', placeholder: _PLACEHOLDER, class: 'form-control', id: 'modal_text_input', required: 'true', value: _TEXT, style: style});
	
			/* Generate Submit Button. */
			style = 'float: right; border: none !important; color: white !important; font-weight: bold; margin-top: 15px; padding: 7px 15px; background: #007bff; font-size: small;';
			var submit_btn = el_factory('input', {type: 'submit', 'value': _BUTTON_TEXT, style: style});
		
			/* Generate Form. */
			var form = el_factory('form', {id: 'modal_form'}, close_btn, title, input, submit_btn);
			
			/* Generate Modal. */
			var modal = el_factory('div', {class: 'modal fade', style: 'top: 30% !important;', id: 'text_modal', tabindex: '-1', role: 'dialog', 'aria-hidden': 'true'},
				el_factory('div', {class: 'modal-dialog', style: 'max-width: 350px !important;', role: 'document'},
					el_factory('div', {class: 'modal-content', style: 'border-radius: 0; box-shadow: 0px 0px 10px 1px grey;'},
						el_factory('div', {class: 'modal-body'}, form)
					)
				)
			);
	
		  $(document.body).append(modal);

		  /* Open the text modal. */
		  $('#text_modal').modal('toggle');
		  
		  $("#modal_form").submit(function(event) {
			/* Stop page reloading. */
			event.preventDefault();
			/* Get text input. */
			_ARGS.INPUT = document.getElementById("modal_text_input").value;
			_ARGS.ORIGINAL = _TEXT;
			/* Clear text input. */
			document.getElementById("modal_text_input").value = '';
			/* Invoke callback function. */
			_CALLBACK(_ARGS);
			/* Close the modal. */
			$('#text_modal').modal('toggle');
		  });
		  /* Destroy the modal on close. */
		  $('#text_modal').on('hidden.bs.modal', function() {
			var elem = document.querySelector('#text_modal');
			elem.parentNode.removeChild(elem);
		  })
		}
		
		function generate_move_modal(resource_name){
			
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					
					var user = JSON.parse(this.responseText);
					
					/* Find target folder. */
					var folder = user[0].resources[0];
					for(var i = 1; i < resource_table.this_breadcrumbs.items.length; i++){
						/* Has the target folder been reached? */
						for(var j = 0; j < folder.items.length; j++){
							if(folder.items[j].name == resource_table.this_breadcrumbs.items[i]){
								folder = folder.items[j];
							}
						}
					}
					
					var original_resource = {};
					
					/* Save original resource and delete it from old location.*/
					for(var i = 0; i < folder.items.length; i++){
						if(folder.items[i].name == resource_name){
							original_resource = folder.items[i]
							folder.items.splice(i, 1);
						}
					}
					
					/* Generate Close Button. */
					var close_btn = el_factory('button', {type: "button", class: "close", "data-dismiss": "modal", "aria-label": "Close"}, el_factory('span', {"aria-hidden": "true"}, "x"));
					
					/* Generate Title. */
					var title = el_factory('label', {for: 'NewDocumentName', class: 'col-form-label', style: 'padding: 10px 0px; color: black; font-weight: normal; font-size: large;'}, "Move resource to..");
			
					/* Generate Form. */
					var form = el_factory('form', {id: 'modal_form'}, close_btn, title);
					
					/* Generate Modal. */
					var modal = el_factory('div', {class: 'modal fade', style: 'top: 30% !important;', id: 'move_modal', tabindex: '-1', role: 'dialog', 'aria-hidden': 'true'},
						el_factory('div', {class: 'modal-dialog', style: 'max-width: 350px !important;', role: 'document'},
							el_factory('div', {class: 'modal-content', style: 'border-radius: 0; box-shadow: 0px 0px 10px 1px grey;'},
								el_factory('div', {class: 'modal-body', id: 'move-modal-body'}, form)
							)
						)
					);
					
					
					
				  $(document.body).append(modal);
				  
				  var move_table = new datatable('move-modal-body', ["Name"], false, false);
				  move_table.render(function(){}, false, null, user);
				  
				  
				  /* Generate Submit Button. */
					style = 'float: right; border: none !important; color: white !important; font-weight: bold; margin-top: 15px; padding: 7px 15px; background: #007bff; font-size: small;';
					var submit_btn = el_factory('input', {type: 'submit', 'value': "Move", style: style});
					
					submit_btn.addEventListener('click', function(){
						console.log(move_table.selected);
						if(move_table.selected.length > 1 || move_table.selected.length == 0)
							return $.notify("Please select one row.", "error");
						
						var path = move_table.selected[0].split('/');
						/* Find target folder. */
						var folder = user[0].resources[0];
						for(var i = 1; i < path.length; i++){
							/* Has the target folder been reached? */
							for(var j = 0; j < folder.items.length; j++){
								if(folder.items[j].name == path[i]){
									folder = folder.items[j];
								}
							}
						}
						/* Add original to folder. */
						folder.items.push(original_resource);
						
						/* commit to db. */
						var xhttp1 = new XMLHttpRequest();
						xhttp1.onreadystatechange = function() {
							if (this.readyState == 4 && this.status == 200) {
								resource_table.render(function(){}, false, null, null);
								$.notify("Folder moved to \"" + path[0] + "\".", "success");
							}
						};
						xhttp1.open("PUT", '/api/users/' + user_id, true);
						xhttp1.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
						xhttp1.send(JSON.stringify({"user":user[0]}));
					});
				  
				  document.getElementById('move-modal-body').appendChild(submit_btn);
				  
					/* Open the text modal. */
					$('#move_modal').modal('toggle');
					 /* Destroy the modal on close. */
					  $('#move_modal').on('hidden.bs.modal', function() {
						var elem = document.querySelector('#move_modal');
						elem.parentNode.removeChild(elem);
					  })
					
					
			   }
			}
			xhttp.open("GET", '/api/users/' + user_id, true);
			xhttp.send(); 
			
		}
		
		
	</script>
  </body>
</html>